<h1>{{character.name}}</h1>
<div class="row">
    <div class="col">
        <div class="character-portfolio"></div>
    </div>
    <div class="col">
        <div class="charview-name-input">
            <label for="cv-name">Name: </label>
            <input type="text" id="cv-name" value={{character.name}}>
        </div>
        <div class="charview-race-input">
            <label for="cv-race">Race:</label>
            <input type="text" id="cv-race" value={{character.race.name}}>
        </div>
        <div class="charview-description-input">
            <label for="cv-desc">Short Bio:</label>
            <input type="text" id="cv-desc" value={{character.description}}>
        </div>
    </div>
</div>
<h1>Edges</h1>
<ul>
    <app-cview-edge *ngFor="let edge of character.edges" [edge]="edge"></app-cview-edge>
    <div class="add-edge">
        <input type="text" placeholder="Start typing edge name ..." id="edge-add-input">
        <span><button>ADD</button></span>
    </div>
</ul>

<h1>Hindrances</h1>
<ul>
    <app-cview-hindrance *ngFor="let hindrance of character.hindrances" [hindrance]="hindrance"></app-cview-hindrance>
    <div class="add-hindrance">
        <input type="text" placeholder="Start typing hindrance name ..." id="hind-add-input">
        <span><button>ADD</button></span>
    </div>
</ul>

<h1>Powers</h1>
<ul>
    <app-cview-power *ngFor="let power of character.powers" [power]="power"></app-cview-power>
    <div class="add-power">
        <input type="text" placeholder="Start typing power name ..." id="pwr-add-input">
        <span><button>ADD</button></span>
    </div>
</ul>