<div class="charview-header">
    <h3 class="charview-campaign">{{character.campaign}}</h3>
    <h1 class="charview-charname">{{character.name}}</h1>
    <div class="charview-portrait" ></div>
</div>

<div class="row charview-subheader">
    <div class="col">
        <div class="charview-race">{{character.race.name}}</div>
        <div class="charview-charclass">{{character.class}}</div>
        <h3 class="charview-charrank"><span id="lv-span">LV.</span><span>{{character.rank}}</span></h3> 
    </div>
    <div class="col">
        <div class="charview-descbox"> 
            <p *ngIf="!character.isEdit" class="charview-description">{{character.description}}</p> 
            <textarea *ngIf="character.isEdit" type="text" id="cv-desc" [(ngModel)]="character.description"></textarea>
            <button id="edit-submit-description" (click)="toggleEdit()">
                <span *ngIf="character.isEdit">X</span>
                <span *ngIf="!character.isEdit">O</span>
            </button>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 25px">
    <h3>Stats</h3>
    <div class="row">
        <div class="col" *ngFor="let attr of character.traits.attributes">
            <app-attribute-die [attribute]="attr.name" [value]="attr.level"></app-attribute-die>
        </div>
    </div>
</div>

<app-attribute-table [character]="character"></app-attribute-table>

<div style="display:none">
    <h1>Edges</h1>
    <ul>
        <app-cview-edge *ngFor="let edge of character.edges" [edge]="edge"></app-cview-edge>
        <div class="add-edge">
            <input type="text" placeholder="Start typing edge name ..." id="edge-add-input">
            <span><button (click)="addEdge()">ADD</button></span>
        </div>
    </ul>

    <h1>Hindrances</h1>
    <ul>
        <app-cview-hindrance *ngFor="let hindrance of character.hindrances" [hindrance]="hindrance"></app-cview-hindrance>
        <div class="add-hindrance">
            <input type="text" placeholder="Start typing hindrance name ..." id="hind-add-input">
            <span><button (click)="addHindrance()">ADD</button></span>
        </div>
    </ul>

    <h1>Powers</h1>
    <ul>
        <app-cview-power *ngFor="let power of character.powers" [power]="power"></app-cview-power>
        <div class="add-power">
            <input type="text" placeholder="Start typing power name ..." id="pwr-add-input">
            <span><button (click)="addPower()">ADD</button></span>
        </div>
    </ul>

</div>
