@import "../../../vars"

.page-wrapper
    width: 100%
    overflow-x: hidden
.page-gutter
    display: block
    border: 1px solid $creme
    grid-column: 1
.main-content
    border: 1px solid $blue
.sidebar-content
    display: block
    border: 1px solid $brown
    grid-column: 3