<div class="page-wrapper">
    <div class="marquee"></div>
    <div class="page-content">
        <div class="page-gutter"></div>
        <div class="main-content">
            <div class="section">
                <div style="padding: 0 15px"> 
                    <h1>Welcome!</h1>
                    <div class="info-block center">
                        <p>2/16/2020</p>
                        <p>Parker Nalchajian</p>
                    </div>
                    <p>Welcome to <span class="emphasis">SavageSuite.com</span>, your one-stop shop for Savage Worlds-related:</p>
                    <ul style="margin-left: 35px">
                        <li>Character Management</li>
                        <li>Character Creation</li>
                        <li>Campaign Management</li>
                    </ul>
                </div>
                <span class="clickable" style="float:right; margin-right: 20px">See More...</span>
            </div>
            <div class="section">
                <h1>Recent Characters</h1>
                <div class="grid-list">
                    <div class="grid-item thin">Character 1</div>
                    <div class="grid-item thin">Character 2</div>
                    <div class="grid-item thin">Character 3</div>
                    <div class="grid-item thin">Character 4</div>
                </div>
            </div>
            <div class="section">
                <app-campaign-list></app-campaign-list>
                <!-- <h1>Recent Campaigns</h1>
                <div class="grid-list">
                    <div class="grid-item">Campaign</div>
                    <div class="grid-item">Campaign</div>
                    <div class="grid-item">Campaign</div>
                    <div class="grid-item">Campaign</div>
                </div> -->
            </div>
        </div>
        <div class="sidebar-content"></div>
    </div>
    <div class="page-footer">
        <div class="footer-content">
            <p>© Parker Nalchajian</p>
        </div>
    </div>
</div>