<div>
    <div class="marquee"></div>
    <div class="page-content">
        <div class="main-content" style="grid-column: 2">
            <div class="homepage-section">
                <h1>My Campaigns</h1>
                <div class="grid-list">
                    <div class="grid-item" *ngFor="let campaign of campaigns">
                        <div class="title">
                            <a href="campaign/{{campaign.id}}">{{campaign.name}}</a>
                            <img src="../../../assets/cas.png">
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-blue">Click Here</button>
            <input type="text" class="underline tx-large">
            <select class="sel tx-large">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
            </select>
        </div>
    </div>
</div>
