<div class="container">
    <h3>Attributes</h3>
    <hr>
    <div class="row">
        <div class="col" id="table-hindrances">HINDRANCES</div>
        <div class="col" id="table-edges">EDGES</div>
        <div class="col" id="table-powers">POWERS</div>
        <div class="col" id="table-skills">SKILLS</div>
        <div class="col" id="table-gear">GEAR</div>
    </div>
    <hr>
    <div class="row">
        <div class="col" id="table-hindrances"></div>
        <div class="col" id="table-edges"></div>
        <div class="col" id="table-powers"></div>
        <div class="col" id="table-skills"></div>
        <div class="col" id="table-gear"></div>
    </div>
</div>