<div class="character-list-item row">
    <div class="character-portrait col">{{character.portrait}}</div>
    <div class="character-info col">
        <div class="character-name">{{character.name}}</div>
        <div class="character-description">{{character.description}}</div>
        <div class="character-campaign">{{character.campaign}}</div>
    </div>
    <div class="character-rank col">{{character.rank}}</div>
    <button class="character-edit-button col" (click)="toggleEdit()">EDIT</button>
</div>

<app-character-modal *ngIf="isEdit" [characterData]="character"></app-character-modal>