<div class="marquee" style="padding-top: 80px; position: relative; background-position: center; background-repeat: no-repeat;" [ngStyle]="{'background-image': 'url(' + campaign.imagepath + ')'}">
    <h1 class="campaign-name">{{campaign.name}}</h1>
    <div class="next-session">< {{campaign.next_session | date:'MMM dd, yyyy @hh:mm'}} ></div>
</div>
<div class="campaign-motd">{{campaign.motd}}</div>

<div class="grid-wrapper">
    <div class="block left-1" id="character-list">
        <div class="header">Characters</div> 
        <div class="body">
            <div class="character-tag" *ngFor="let char of campaign.party">
                <div class="profile">HB</div>
                <div class="character-name">{{char.name}}</div>
                <div class="character-desc">{{char.description}}</div>
                <div class="character-race">[{{char.race.name}}]</div>
                <div class="character-rank">{{char.rank}}</div>
            </div> 
        </div>
    </div>
    <div class="block right-2" id="chat-log">
        <div class="header">Chat Log</div>
        <div class="body">
            <app-message *ngFor="let msg of campaign.chat" [message]="msg" me="Soombala"></app-message>
        </div>
        <div class="footer">
            <input type="text" class="chat-input">
            <button class="btn btn-blue">></button>
        </div>
    </div>
    <div class="block left-3">
        <h2>CONTENT</h2>
        <div class="grid-wrapper">
            <div class="block left-2">
                <div class="block"></div>
            </div>
            <div class="block right-1"> 
                <h1>Races</h1>
                <h1>Edges</h1>
                <h1>Hindrances</h1>
                <h1>Powers</h1>
            </div>
        </div>
    </div>
</div>