@import "../../../vars"

.page-wrapper
    display: grid
    grid-template-columns: 250px repeat(3, auto) 250px
    @media screen and (max-width: $large)
        width: auto repeat(3, 300px) auto
    @media screen and (max-width: $medium)
        width: auto repeat(2, 200px) auto
    @media screen and (max-width: $small)
        width: 0 repeat(3, auto) 0
.campaign-name
    color: $white
    background: rgba($black, 0.5)
    width: 100%
    position: absolute
    padding-bottom: 15px
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    font-size: 3em
.next-session
    color: $white
    position: absolute
    left: 50%
    bottom: 20px 
    transform: translateX(-50%)
    font-family: $raleway
.campaign-motd
    position: relative
    left: 50%
    transform: translateX(-50%)
    text-align: center
    border-top: 1px solid $blue
    border-bottom: 1px solid $blue
    padding: 10px 40px
    margin: 15px
    width: 50%
    grid-column-start: 2
    grid-column-end: 5
    @media screen and (max-width: $large)
        width: 80%
    @media screen and (max-width: $medium)
        width: 90%
    @media screen and (max-width: $small)
        width: 100%
.campaign-chat
    padding: 5px
    background: $blue
    border-radius: 5px

.chat-list
    background: $white
    flex-grow: 1
    flex-shrink: 1
.chat-new-message
    background: rgba($white,0.9)
    display: grid
    grid-template-columns: auto 80px
    border: 1px solid $blue
    flex-grow: 0
    flex-shrink: 1
.chat-input
    width: 100%
.chat-input .btn
    float: right

.grid-wrapper
    display: grid
    grid-template-columns: repeat(3, 1fr)
    @media screen and (max-width: $medium)
        grid-template-columns: repeat(2, 1fr)
    @media screen and (max-width: $small)
        grid-template-columns: 1fr 
    margin: 10px auto
    padding: 0 20px
    max-width: 1600px 
    gap: 10px

.left-1
    // background: orange
    grid-column-start: 1
    grid-column-end: 2
    @media screen and (max-width: $small)
        grid-column: 1
.left-2
    grid-column-start: 1
    grid-column-end: 3
    // background: yellow
    @media screen and (max-width: $small)
        grid-column: 1
.left-3, .right-3
    // background: red
    grid-column-start: 1
    grid-column-end: 4
    @media screen and (max-width: $medium)
        grid-column-start: 1
        grid-column-end: 3
    @media screen and (max-width: $small)
        grid-column: 1
.right-2
    grid-column-start: 2
    grid-column-end: 4 
    @media screen and (max-width: $medium)
        grid-column-start: 1
        grid-column-end: 3
    @media screen and (max-width: $small)
        grid-column: 1
.right-1
    grid-column-start: 3
    grid-column-end: 4
    @media screen and (max-width: $medium)
        grid-column-start: 2
        grid-column-end: 3
    @media screen and (max-width: $small)
        grid-column: 1

.block
    height: 50vh
    overflow-y: hidden
    display: flex
    flex-flow: column nowrap
    background: $white
    border: 1px solid $black
.block > .header
    flex-grow: 0
    flex-shrink: 0
    background: rgba($black, 0.2)
    height: 30px
    font-family: $raleway
    text-align: center
    font-size: 1.5em
    border-bottom: 1px solid $black
.block > .body
    flex-grow: 1 
    overflow-y: auto
.block > .footer
    flex-grow: 0
    flex-shrink: 0
    display: flex
    flex-flow: row nowrap
    border-top: 1px solid $black

.character-tag
    // width: 250px
    height: 70px
    margin: 10px
    margin-right: 80px
    border-radius: 35px 2px 2px 35px
    position: relative
    transition: background-color 0.125s
    cursor: pointer
    background: rgba($black, 0.5)
    .profile
        height: 60px
        width: 60px
        border-radius: 50%
        position: absolute
        top: 5px
        left: 5px
        color: $white
        line-height: 60px
        text-align: center
        font-family: $osans
        font-size: 3em
        transition: background-color 0.125s color 0.125s
        background: $white
        color: $black
    .character-name
        width: calc(100% - 65px)
        text-align: center
        position: absolute
        top: 10px
        left: 65px 
        font-family: $raleway
        font-weight: bold
        font-size: 1.2em
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        text-decoration: underline
        transition: color 0.125s
        color: $black
    .character-race
        width: calc(100% - 65px)
        text-align: center
        position: absolute
        bottom: 10px
        left: 65px 
        overflow: hidden
        text-overflow: ellipsis
        position: absolute
        left: 65px
        text-align: center
        bottom: 0.5em
        font-size: 1em
        color: rgba($white, 0.5)
    .character-desc
        width: calc(100% - 65px)
        position: absolute
        text-align: center
        left: 65px
        display: none
        color: rgba($white, 0.7)
    .character-rank
        height: 70px
        width: 70px
        border-radius: 2px
        position: absolute
        right: -75px
        font-family: $osans
        font-size: 50px
        line-height: 70px
        text-align: center
        transition: background-color 0.125s
        background: rgba($black,0.5)
        color: rgba($white, 0.5)
.character-tag:hover
    background: $blue
    .profile
        background: $white
        color: $black
    .character-desc
        color: $white
    .character-race
        color: $white
    .character-name
        color: $white
    .character-rank
        background: $blue
        color: $white