<img class="attribute-bg" src="../../../assets/die_d10.svg" *ngIf="value===10">
<img class="attribute-bg" src="../../../assets/die_d8.svg" *ngIf="value===8">
<img class="attribute-bg" src="../../../assets/die_d6.svg" *ngIf="value===6">
<img class="attribute-bg" src="../../../assets/die_d4.svg" *ngIf="value===4">
<img class="attribute-bg" src="../../../assets/die_d12.svg" *ngIf="value===12">
<img class="attribute-bg" src="../../../assets/die_d20.svg" *ngIf="value===20">
<div class="attribute-value">{{value}}</div>
<div class="attribute-name">{{attribute}}</div>