<canvas #canvas 
    width="800" 
    height="800" 
    (mousemove)="mouseMoveHandler($event)" 
    (window:resize)="onResize()"
    (click)="getTarget($event)"
    (mousedown)="mouseDownHandler($event)"
    (mouseup)="mouseUpHandler($event)"
    (mouseout)="mouseOutHandler($event)"
></canvas>

<button (click)="zoomOut()">-</button>
<input #zoomSlider type="range" min="8" max="40" value="8" class="slider" (mousemove)="zoomUpdate($event)">
<button (click)="zoomIn()">+</button>

<div style="margin: 10px">
    <button class="uiButton" (click)="changeTool('hand')"><i class="far fa-hand-paper"></i></button>
    <button class="uiButton" (click)="changeTool('select')"><i class="fas fa-mouse-pointer"></i></button>
    <button class="uiButton" (click)="changeTool('draw')"><i class="fas fa-pencil-alt"></i></button>
    <button class="uiButton" (click)="changeTool('measure')"><i class="fas fa-ruler-combined"></i></button>
</div>

<div style="margin:10px"> 
    <button>ACTIVE LAYER</button>
    <button>MAP LAYER</button>
    <button>GM LAYER</button>
</div>